.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 334px;
  height: 40px;
  margin-bottom: 80px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  width: 44px;
  height: 44px;

  color: var(--text-color);
  background-color: transparent;
}

.currentPage {
  background-color: var(--main-color);
}


@media (width >= 768px) {
  .pagination {
    margin-bottom: 88px;
  }
}

@media (width >= 1280px) {
  .pagination {
    margin-bottom: 80px;
  }
}
