@use "@/styles/mixins.scss";
@import "@/styles/variables.css";

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 334px;
  height: 40px;
  margin-bottom: 80px;
}

.icon {
  fill: currentColor;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: black;
  background-color: transparent;
}

.button:disabled {
  color: var(--gray-color);
}

.currentPage {
  background-color: var(--main-color);
}

@include mixins.breakpoint(medium) {
  .pagination {
    margin-bottom: 88px;
  }
}

@include mixins.breakpoint(large) {
  .pagination {
    margin-bottom: 80px;
  }
}
