input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 295px;
  height: 42px;
  padding-left: 16px;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

@media (width >= 768px) {
  input {
    width: 424px;
    height: 52px;
  }
}
