@use "@/styles/mixins.scss" as mixins;
@import "@/styles/variables.css";

.button {
  border: none;
  background-color: transparent;
  color:var(--text-color);
}

.primary{
  @include mixins.primary-button;
}

.secondary{
  @include mixins.secondary-button;
}

.button:focus {
  outline: none;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.iconLeft {
  left: 16px;
}

.iconRight {
  right: 16px;
}