@use "@/styles/mixins.scss" as mixins;
@import "@/styles/variables.css";

.search {
  width: 100%;
  height: 378px;
  background-color: var(--button-hover-color);
  padding: 20px;
  border-radius: 30px;
}

.searchInput {
  box-sizing: border-box;
  padding: 12px 278px 12px 12px;
  isolation: isolate;
  width: 100%;
  height: 42px;
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
}

.vector {
  margin-top: 20px;
  width: 100%;
  height: 0px;
  border: 1px solid rgba(38, 38, 38, 0.1);
}

@media (width >= 768px) {
  .search {
    height: 280px;
  }
}

@media (width >= 1280px) {
  .search {
    height: 216px;
  }
}

.filterButton {
  @include mixins.base-button;
}
