@use '@/styles/mixins.scss' as mixins;
@import "@/styles/variables.css";

.newsItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 335px;
  height: 100%;
  max-height: 359px;
  text-align: left;
}

.title{
  @include mixins.title-extra-bold;
  color:var(--text-color);
}

.description{
  @include mixins.subtitle-medium;
    color: var(--text-color);
}

.date{
  @include mixins.subtitle-medium;
    color: var(--gray-color);
}

.link{
  color:var(--main-color);
}

.img{
  object-fit: contain;
  width: 335px;
  height: 190px;
}