@use '@/styles/mixins.scss' as mixins;
@import "@/styles/variables.css";

.news-item {
  display: flex;
  flex-direction: column;
  width: 335px;
  height: 359px;
  text-align: left;
}

.news-item_title{
  @include mixins.title-extra-bold;
  color:var(--text-color);
}

.news-item_description{
  @include mixins.subtitle-medium;
    color: var(--text-color);
}

.news-item_date{
  @include mixins.subtitle-medium;
    color: var(--gray-color);
}