@use "@/styles/mixins.scss";
@import "@/styles/variables.css";

.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  right: 0;
  width: 218px;
  height: 100%;
  background-color: var(--white-color);
  color: var(--white-color);
  z-index: 1000;
  padding: 2rem 1rem;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateX(100%);
  opacity: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
}
.menuOpen {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.overlayVisible {
  opacity: 1;
  pointer-events: auto;
}

@include mixins.breakpoint(medium) {
  .menu {
    width: 374px;
  }
}
