@import "../../styles/veriables.css";

.auth_container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.auth_form_container {
  padding: 60px 20px;
}

.auth_pet_name_comment {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.03em;

  color: var(--main-color);

  flex: none;
  order: 0;
  flex-grow: 0;
  padding: 19px 16px 18px 0;
}

.auth_image_comment {
  display: none;
}

.auth_image_login {
  background-image: url("images/LoginImage/LoginImageMobile.jpg");
}

.auth_image_register {
  background-image: url("images/RegisterImage/RegisterImageMobile.jpg");
}

.auth_image_comment_pet {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 194px;
  height: 60px;
  margin: 16px 8px 45px 16px;
  background: var(--button-hover-color);
}

@media (min-width: 768px) {
  .auth_container {
    flex-direction: column;
    align-items: center;
  }

  .auth_form_container {
    padding: 71px 140px;
  }

  .auth_image_login {
    background-image: url("images/LoginImage/LoginImageTablet.jpg");
  }

  .auth_image_register {
    background-image: url("images/RegisterImage/RegisterImageTablet.jpg");
  }
}

@media (min-width: 1280px) {
  .auth_container {
    flex-direction: row;
  }

  .auth_form_container {
    padding: 77px 84px;
  }

  .auth_image_login {
    background-image: url("images/LoginImage/LoginImageDesktop.jpg");
  }

  .auth_image_register {
    background-image: url("images/RegisterImage/RegisterImageDesktop.jpg");
  }

  .auth_image_comment {
    display: block;
    position: absolute;
    top: 436px;
    left: 61px;
    background-color: var(--white-color);
    width: 294px;
    height: 121px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
  }
}
