@import '../../styles/veriables.css';

.input-search {
  padding: 16px;
  height: 42px;
  background-color: var(--white-color); 
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
}



.input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.input-icon_left {
  left: 16px;
}

.input-icon_right {
  right: 16px;
}
