:root {
  --white-color: #fff;
  --text-color: #262626;
  --main-color: #f6b83d;
  --button-hover-color: #fff4df;
  --gray-color: rgba(38, 38, 38, 0.5);
  --border-opacity: rgba(255, 255, 255, 0.4);
  --background-color: F9F9F9;
}
