:root {
  --white-color: "#FFFFFF";
  --text-color: "#262626";
  --main-color: "#F6B83D";
  --button-hover-color: "#FFF4DF";
  --gray-color: "rgba(38, 38, 38, 0.5)";
  --background-color: "F9F9F9";
}
