@import "../../../styles/veriables.css";
@import "../../../styles/mixins.scss";

// Кнопку треба винести в комоненту типографії
button {
  @include base-button;
}

.pet-list {
  flex-direction: column;
  width: 335px;
  height: 100%;
  text-align: left;
  border-radius: 16px;
  background-color: var(--white-color);
  padding: 24px;
}

.pet-list_title {
  @include title-extra-bold;

  color: var(--white-color);
}

.pet-list_span {
  height: 18px;
  font-size: 12px;
  color: var(--gray-color);
}

.pet-list_subtitle {
  @include subtitle-medium;
  display: flex;
  height: 18px;
  width: 100%;
  font-size: 12px;
  color: var(--text-color);
  overflow: hidden;
  text-overflow: ellipsis;
}

.pet-list_learn--pressed {
  color: var(--white-color);
  background: var(--main-color);
  order: 0;
}

.pet-list_like--pressed {
  color: var(--white-color);
  background: var(--button-hover-color);
  order: 0;
}
