@import "../../styles/mixins.scss";
@import "../../styles/veriables.css";

.page-template_title {
  @include title-extra-bold;
  color: var(--text-color);
  text-align: left;
}

@media (width >= 1280px) {
  .page-template_title {
    font-size: 54px;
    line-height: 54px;
  }
}
