@use "@/styles/mixins.scss" as mixins;
@import "@/styles/variables.css";

.authContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.authImageContainer {
  position: relative;
  border-radius: 60px;
  background-repeat: no-repeat;
  width: 335px;
  height: 280px;
}

.authFormContainer {
  width: 335px;
}

.title {
  @include mixins.title-extra-bold;
  color: var(--text-color);
  font-size: 48px;
  line-height: normal;
}

.subtitle {
  @include mixins.subtitle-medium;
  color: var(--text-color);
  font-size: 18px;
  line-height: normal;
}

.authImageComment {
  display: none;
}

.authImageLogin {
  background-image: url("@/assets/images/LoginImage/LoginImageMobile.jpg");
}

.authImageRegister {
  background-image: url("@/assets/images/RegisterImage/RegisterImageMobile.jpg");
}

@include mixins.breakpoint(medium) {
  .authContainer {
    flex-direction: column;
    align-items: center;
  }

  .authImageContainer {
    width: 704px;
    height: 280px;
  }

  .authFormContainer {
    display: flex;
    flex-direction: column;
    width: 418px;
    height: 424px;
  }

  .authImageLogin {
    background-image: url("@/assets/images/LoginImage/LoginImageTablet.jpg");
  }

  .authImageRegister {
    background-image: url("@/assets/images/RegisterImage/RegisterImageTablet.jpg");
  }
}

@include mixins.breakpoint(large) {
  .authContainer {
    flex-direction: row;
    gap: 32px;
  }

  .authImageContainer {
    width: 592px;
    height: 654px;
  }

  .authFormContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 32px;
    width: 592px;
    height: 654px;
    padding: 77px 84px;
  }

  .authImageLogin {
    background-image: url("@/assets/images/LoginImage/LoginImageDesktop.jpg");
  }

  .authImageRegister {
    background-image: url("@/assets/images/RegisterImage/RegisterImageDesktop.jpg");
  }

  .authImageComment {
    display: block;
    position: absolute;
    top: 436px;
    left: 61px;
    background-color: var(--white-color);
    width: 294px;
    height: 121px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
  }
}
