@use "@/styles/mixins.scss" as mixins;
@import "@/styles/variables.css";

.title {
  @include mixins.title-extra-bold;
  color: var(--text-color);
  text-align: left;
  font-size: 28px;
  line-height: 28px;
}

.page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 335px;
  min-height: 500px;
  height: auto;
  overflow: hidden;
  gap: 40px;
}

@include mixins.breakpoint(medium) {
  .page {
    width: 704px;
    gap: 44px;
  }
  .title {
    font-size: 54px;
    line-height: 54px;
  }
}

@include mixins.breakpoint(large) {
  .page {
    width: 1153px;
    flex-direction: row;
    gap: 40px;
    align-items: end;
  }
}
