@use "@/styles/mixins.scss" as mixins;
@import "@/styles/variables.css";

.login,
.logout {
  @include mixins.base-button;

  color: var(--white-color);
  border: 1px var(--border-opacity) solid;
  background: var(--main-color);
  order: 0;
}

.register {
  @include mixins.base-button;
  color: var(--main-color);
  background: var(--button-hover-color);
  order: 1;
}

@include mixins.breakpoint(medium) {
  .login,
  .register,
  .logout {
    width: 178px;
  }
}

