@import "../../styles/veriables.css";

.home-hero {
  border-radius: 30px;
  display: flex;
  background-color: var(--main-color);
  flex-direction: column;
  width: 320px;
  letter-spacing: -0.03em;
}

.home-hero_bottom_block {
  display: flex;
  width: 320px;
  height: 496px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/images/MainImage.jpg");
}

.home-hero_content {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.home-hero_title {
  margin-top: 60px;
  text-align: left;
  height: 144px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -0.03em;

  color: var(--white-color);

  flex: none;
  order: 0;
  flex-grow: 0;
}

.home-hero_subtitle {
  margin-top: 24px;
  height: 54px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;

  color: var(--white-color);

  order: 1;
  flex-grow: 0;
}

@media screen and (min-width: 768px) {
  .home-hero {
    width: 704px;
  }

  .home-hero_bottom_block {
    background-image: url("/images/MainImageTablet.jpg");
    flex-direction: row;
    justify-content: end;
    width: 704px;
    height: 496px;
  }

  .home-hero_content {
    padding-bottom: 44px;
  }
  .home-hero_title {
    width: 640px;
    margin-top: 112px;
    font-size: 50px;
  }
  .home-hero_subtitle {
    width: 255px;
    margin-top: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .home-hero {
    width: 1216px;
  }

  .home-hero_bottom_block {
    background-image: url("/images/MainImageDesktop.jpg");
    width: 1216px;
    height: 384px;
  }

  .home-hero_content {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding-bottom: 32px;
  }
  .home-hero_title {
    width: 760px;
    margin-top: 123px;
    font-size: 80px;
  }
}
