@use "@/styles/mixins.scss" as mixins;
@import "@/styles/variables.css";

.hero {
  border-radius: 30px;
  display: flex;
  background-color: var(--main-color);
  flex-direction: column;
  max-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: -0.03em;
}

.heroBottomBlock {
  display: flex;
  max-width: 320px;
  height: 496px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("@/assets/images/MainImage.jpg");
}

.content {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.title {
  @include mixins.title-extra-bold;
  flex: none;
  flex-grow: 0;
  margin-top: 60px;
  order: 0;
  text-align: left;
  font-size: 50px;
  line-height: normal;
  color: var(--white-color);
}

.subtitle {
  @include mixins.subtitle-medium;
  margin-top: 24px;
  height: 54px;
  order: 1;
  flex-grow: 0;
  color: var(--white-color);
}

@include mixins.breakpoint(medium) {
  .hero {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 704px;
  }

  .heroBottomBlock {
    background-image: url("@/assets/images/MainImageTablet.jpg");
    flex-direction: row;
    justify-content: end;
    max-width: 704px;
    height: 496px;
  }

  .content {
    padding-bottom: 44px;
  }

  .title {
    max-width: 640px;
    font-size: 50px;
  }

  .subtitle {
    width: 255px;
    margin-top: 32px;
  }
}

@include mixins.breakpoint(large) {
  .hero {
    max-width: 1280px;
  }

  .heroBottomBlock {
    background-image: url("@/assets/images/MainImageDesktop.jpg");
    max-width: 1280px;
    height: 384px;
  }

  .content {
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
  }
  .title {
    max-width: 760px;
    font-size: 80px;
    margin-bottom: 32px;
  }
}
