@use "@/styles/mixins.scss";
@import "@/styles/variables.css";

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 712px;

  background: #f6b83d;
  border-radius: 60px;
}

.title {
  width: 322px;
  height: 28px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.03em;

  color: var(--white-color);
}

.openHome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  gap: 10px;
  color: var(--main-color);

  width: 149px;
  height: 50px;

  background: var(--button-hover-color);
  border-radius: 30px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

@include mixins.breakpoint(medium) {
  .page {
    width: 704px;
    height: 878px;
  }
}

@include mixins.breakpoint(large) {
  .page {
    width: 1216px;
    height: 654px;
  }
}
